extends header

block content
	.gradient
		canvas(width='150', height='150')
	script(src='/jquery-2.1.4.min.js')
	script(src='/jcanvas.js')
	script(src='/socket.io/socket.io.js')
	script(src='/speechBubble.js')
	script(src='/character.js')
	script(src='/instance.js')
	script(src='/game.js')
	script(src='/main.js')